streamlit
langchain
langchain-core
langchain-community
langchain-chroma==0.1.4
langchain-huggingface
langchain-google-genai
google-generativeai
sentence-transformers
chromadb==0.4.24
python-dotenv
# force reinstall
