streamlit
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-google-genai
google-generativeai
sentence-transformers
chromadb==0.5.3
python-dotenv
# force reinstall
